public/EsquemaAvaluomio.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Avaluo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Comercial">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Identificacion">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="NumeroDeAvaluo"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Avaluo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Comercial">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Identificacion">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element  name="NumeroDeAvaluo">
                                            <xs:complexType >
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:Date" name="id"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>