public/EsquemaAvaluomiodos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with Liquid XML Studio 6.1.17.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <!--NonEmptyString30: Cadenas de texto con 30 carácteres máximo(No acepta cadenas vacías) -->
   <!--NonEmptySting-->
   <xs:simpleType name="NonEmptyString">
      <xs:restriction base="xs:string">
         <xs:minLength value="1" />
      </xs:restriction>
   </xs:simpleType>
   <!-- NON_EMPTY -->
   <!-- LONGITUDES EXACTAS -->
   <!--StringLength1: Cadenas de texto No vacías con exactamente 1 caracter -->
   <xs:simpleType name="StringLength1">
      <xs:restriction base="xs:string">
         <xs:length value="1" />
      </xs:restriction>
   </xs:simpleType>
   <!--String20: Cadenas de texto con 20 carácteres máximo (también acepta cadenas vacías) -->
   <xs:simpleType name="String20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20" />
      </xs:restriction>
   </xs:simpleType>
   <!--String35: Cadenas de texto con 35 carácteres máximo(No acepta cadenas vacías) -->
   <xs:simpleType name="String35">
      <xs:restriction base="xs:string">
         <xs:maxLength value="35" />
      </xs:restriction>
   </xs:simpleType>
   <!--String50: Cadenas de texto con 50 carácteres máximo(también acepta cadenas vacías) -->
   <xs:simpleType name="String50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50" />
      </xs:restriction>
   </xs:simpleType>
   <!--String250: Cadenas de texto con 50 carácteres máximo(también acepta cadenas vacías) -->
  <xs:simpleType name="String250">
    <xs:restriction base="xs:string">
      <xs:maxLength value="250" />
    </xs:restriction>
  </xs:simpleType>
   <!--NonEmptyString5: Cadenas de texto con 5 carácteres máximo(No acepta cadenas vacías) -->
   <xs:simpleType name="NonEmptyString5">
      <xs:restriction base="NonEmptyString">
         <xs:maxLength value="5" />
      </xs:restriction>
   </xs:simpleType>
   <!--NonEmptyString20: Cadenas de texto con 20 carácteres máximo(No acepta cadenas vacías) -->
   <xs:simpleType name="NonEmptyString20">
      <xs:restriction base="NonEmptyString">
         <xs:maxLength value="20" />
      </xs:restriction>
   </xs:simpleType>
   <!--NonEmptyString25: Cadenas de texto con 25 carácteres máximo(No acepta cadenas vacías) -->
   <xs:simpleType name="NonEmptyString25">
      <xs:restriction base="NonEmptyString">
         <xs:maxLength value="25" />
      </xs:restriction>
   </xs:simpleType>
   <!--NonEmptyString30: Cadenas de texto con 30 carácteres máximo(No acepta cadenas vacías) -->
   <xs:simpleType name="NonEmptyString30">
      <xs:restriction base="NonEmptyString">
         <xs:maxLength value="30" />
      </xs:restriction>
   </xs:simpleType>
   <!--NonEmptyString50: Cadenas de texto con 50 carácteres máximo(No acepta cadenas vacías) -->
   <xs:simpleType name="NonEmptyString50">
      <xs:restriction base="NonEmptyString">
         <xs:maxLength value="50" />
      </xs:restriction>
   </xs:simpleType>
   <!-- CUENTAS CATASTRALES  -->
   <xs:simpleType name="region_manzana_up">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0|1|2|3|4|5|6|7|8|9|A|B|C|D|E|F|H|J|K|M|N|P|Q|R|T|U|V|W|X|Y]{3}" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="lote">
      <xs:restriction base="xs:string">
         <xs:pattern value="[0|1|2|3|4|5|6|7|8|9|A|B|C|D|E|F|H|J|K|M|N|P|Q|R|T|U|V|W|X|Y]{2}" />
      </xs:restriction>
   </xs:simpleType>
   <!-- DECIMALES -->
   
  <!-- DecimalPositivo: Admite decimales positivos (No admite cadenas texto vacías) -->
  <xs:simpleType name="DecimalPositivo">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0" />
    </xs:restriction>
  </xs:simpleType>

   <!-- ********************************************** CATALOGOS DE BD  ********************************************** -->
   <!-- Especifican los valores que pueden tener los campos asociado a catálogos (Ej: Colonia, Delegación...) -->
   <xs:simpleType name="Cat-Colonia">
      <xs:restriction base="NonEmptyString50">
         <!--se valida por codigo-->
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Cat-Delegacion">
      <xs:restriction base="NonEmptyString50">
         <!--<xs:enumeration value="01" />
      <xs:enumeration value="02" />
      <xs:enumeration value="03" />
      <xs:enumeration value="04" />
      <xs:enumeration value="05" />
      <xs:enumeration value="06" />
      <xs:enumeration value="07" />
      <xs:enumeration value="08" />
      <xs:enumeration value="09" />
      <xs:enumeration value="10" />
      <xs:enumeration value="11" />
      <xs:enumeration value="12" />
      <xs:enumeration value="13" />
      <xs:enumeration value="14" />
      <xs:enumeration value="15" />
      <xs:enumeration value="16" />-->
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Cat-Regimen">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="1" />
         <xs:maxInclusive value="4" />
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="Cat-TipoCodominio">
      <xs:restriction base="xs:string">
         <xs:enumeration value="" />
         <xs:enumeration value="1" />
         <xs:enumeration value="2" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="Cat-tipoPersona">
    <xs:restriction base="xs:string">
      <xs:enumeration value="F" />
      <xs:enumeration value="M" />
      <xs:enumeration value="f" />
      <xs:enumeration value="m" />
    </xs:restriction>
  </xs:simpleType>

    <xs:simpleType name="Cat-ClasificacionZona">
    <xs:restriction base="xs:nonNegativeInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="17"/>
    </xs:restriction>
  </xs:simpleType>
   
   <!-- ********************************************** DECLARACIÓN DE TIPOS DE LOS ELEMENTOS  **********************************************-->
   <xs:complexType name="SUB-TipoPersona">
      <xs:simpleContent>
         <xs:extension base="Cat-tipoPersona">
            <xs:attribute fixed="b.1.10" name="id" type="xs:string" use="required" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="SUB-TipoPersonaProp">
      <xs:simpleContent>
         <xs:extension base="Cat-tipoPersona">
            <xs:attribute fixed="b.2.10" name="id" type="xs:string" use="required" />
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType> 

   <!-- **********************************************FIN DECLARACIÓN DE TIPOS DE LOS ELEMENTOS **********************************************-->
   <!-- ********************************************* DEFINICIÓN DE LOS APARTADOS QUE COMPONEN EL AVALÚO **********************************************-->
   <!-- Identificación (Avalúos Comercial y Catastral) -->
   <xs:complexType name="Identificacion">
      <xs:sequence maxOccurs="1" minOccurs="1">
         <xs:element name="NumeroDeAvaluo">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="NonEmptyString30">
                     <xs:attribute name="id" use="required" type="xs:string" fixed="a.1" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="FechaAvaluo">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:date">
                     <xs:attribute fixed="a.2" name="id" type="xs:string" use="required" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="ClaveValuador">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="NonEmptyString20">
                     <xs:attribute fixed="a.3" name="id" type="xs:string" use="required" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="ClaveSociedad" nillable="true">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="String20">
                     <xs:attribute fixed="a.4" name="id" type="xs:string" use="required" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:string" fixed="a" />
   </xs:complexType>   
   <!-- Antecedentes (Avalúo Comercial)-->
   <xs:complexType name="Antecedentes-AComercial">
      <xs:sequence maxOccurs="1" minOccurs="1">
         <xs:element name="Solicitante">
            <xs:complexType>
               <xs:sequence>
                  <xs:sequence>
                     <xs:element name="A.Paterno" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="String35">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.1" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="A.Materno" maxOccurs="1" minOccurs="0">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="String35">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.2" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Nombre">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="NonEmptyString50">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.3" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Calle">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="NonEmptyString50">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.4" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NumeroInterior">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="NonEmptyString30">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.5" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="NumeroExterior">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="NonEmptyString25">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.6" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Colonia">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="Cat-Colonia">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.7" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="CodigoPostal">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="NonEmptyString5">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.8" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="Delegacion">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="Cat-Delegacion">
                                 <xs:attribute name="id" use="required" type="xs:string" fixed="b.1.9" />
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="TipoPersona" type="SUB-TipoPersona" />
                  </xs:sequence>
                  <!-- comentar esto de nuevo <xs:choice minOccurs="1" maxOccurs="1"><xs:group ref="SUB-DatosMoral"></xs:group><xs:group ref="SUB-DatosFisica"></xs:group></xs:choice> -->
               </xs:sequence>
               <xs:attribute name="id" use="required" type="NonEmptyString" fixed="b.1" />
            </xs:complexType>
         </xs:element>        
         <xs:element name="Propietario">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="A.Paterno" maxOccurs="1" minOccurs="0">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="String35">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.1" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="A.Materno" maxOccurs="1" minOccurs="0">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="String35">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.2" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Nombre">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString50">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.3" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Calle">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString50">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.4" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="NumeroInterior">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString30">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.5" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="NumeroExterior">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString25">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.6" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Colonia">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="Cat-Colonia">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.7" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="CodigoPostal">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString5">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.8" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Delegacion">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="Cat-Delegacion">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.2.9" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="TipoPersona" type="SUB-TipoPersonaProp" />
                  <!--<xs:choice minOccurs="1" maxOccurs="1"><xs:group ref="SUB-DatosMoralProp"></xs:group><xs:group ref="SUB-DatosFisicaProp"></xs:group></xs:choice>-->
               </xs:sequence>
               <xs:attribute name="id" use="required" type="NonEmptyString" fixed="b.2" />
            </xs:complexType>
         </xs:element>
         <xs:element name="InmuebleQueSeValua">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Calle">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString50">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.1" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="NumeroInterior">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString30">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.2" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="NumeroExterior">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString25">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.3" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Manzana" maxOccurs="1" minOccurs="0">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="String50">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.4" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Lote" maxOccurs="1" minOccurs="0">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="String50">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.5" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Edificio" maxOccurs="1" minOccurs="0">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="String50">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.6" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Colonia">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="Cat-Colonia">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.7" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="CodigoPostal">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="NonEmptyString5">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.8" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="Delegacion">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="Cat-Delegacion">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.9" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="CuentaCatastral">
                     <xs:complexType>
                        <xs:sequence>
                           <xs:element name="Region">
                              <xs:complexType>
                                 <xs:simpleContent>
                                    <xs:extension base="region_manzana_up">
                                       <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.10.1" />
                                    </xs:extension>
                                 </xs:simpleContent>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="Manzana">
                              <xs:complexType>
                                 <xs:simpleContent>
                                    <xs:extension base="region_manzana_up">
                                       <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.10.2" />
                                    </xs:extension>
                                 </xs:simpleContent>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="Lote">
                              <xs:complexType>
                                 <xs:simpleContent>
                                    <xs:extension base="lote">
                                       <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.10.3" />
                                    </xs:extension>
                                 </xs:simpleContent>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="Localidad">
                              <xs:complexType>
                                 <xs:simpleContent>
                                    <xs:extension base="region_manzana_up">
                                       <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.10.4" />
                                    </xs:extension>
                                 </xs:simpleContent>
                              </xs:complexType>
                           </xs:element>
                           <xs:element name="DigitoVerificador">
                              <xs:complexType>
                                 <xs:simpleContent>
                                    <xs:extension base="StringLength1">
                                       <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.10.5" />
                                    </xs:extension>
                                 </xs:simpleContent>
                              </xs:complexType>
                           </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" use="required" type="NonEmptyString" fixed="b.3.10" />
                     </xs:complexType>
                  </xs:element>
                  <xs:element name="CuentaDeAgua" maxOccurs="1" minOccurs="0">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="xs:string">
                              <xs:attribute name="id" use="required" type="xs:string" fixed="b.3.11" />
                           </xs:extension>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
               </xs:sequence>
               <xs:attribute name="id" use="required" type="NonEmptyString" fixed="b.3" />
            </xs:complexType>
         </xs:element>
         <xs:element name="PropositoDelAvaluo">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="NonEmptyString50">
                     <xs:attribute name="id" use="required" type="xs:string" fixed="b.4" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="ObjetoDelAvaluo">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="NonEmptyString50">
                     <xs:attribute name="id" use="required" type="xs:string" fixed="b.5" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <!--EMC-->
         <xs:element name="RegimenDePropiedad">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="NonEmptyString50">
                     <xs:attribute name="id" use="required" type="xs:string" fixed="b.6" />
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>         
      </xs:sequence>
      <xs:attribute name="id" use="required" type="NonEmptyString" fixed="b" />
   </xs:complexType>

   <xs:complexType name="CaracteristicasUrbanas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ContaminacionAmbientalEnLaZona">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension  base="String250">
              <xs:attribute fixed="c.0" name="id" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ClasificacionDeLaZona">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="Cat-ClasificacionZona">
              <xs:attribute fixed="c.1" name="id" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="IndiceDeSaturacionDeLaZona">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="DecimalPositivo">
              <xs:attribute fixed="c.2" name="id" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ClaseGeneralDeInmueblesDeLaZona">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="Cat-ClasesConstruccion">
              <xs:attribute fixed="c.3" name="id" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="DensidadDePoblacion">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="Cat-DensidadPoblacion">
              <xs:attribute fixed="c.4" name="id" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="NivelSocioeconomicoDeLaZona">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="Cat-NivelSocioeconomico">
              <xs:attribute fixed="c.5" name="id" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="UsoDelSuelo">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="UsoDelSuelo">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension  base="NonEmptyString50">
                    <xs:attribute fixed="c.6.1" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="AreaLibreObligatoria">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="DecimalPositivo52">
                    <xs:attribute fixed="c.6.2" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="NumeroMaximoDeNivelesAConstruir">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="DecimalPositivo30">
                    <xs:attribute fixed="c.6.3" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="CoeficienteDeUsoDelSuelo">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="DecimalPositivo">
                    <xs:attribute fixed="c.6.4" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="c.6" name="id" type="NonEmptyString" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ViasDeAccesoEImportancia">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension  base="NonEmptyString">
              <xs:attribute fixed="c.7" name="id" type="xs:string" use="required" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="ServiciosPublicosYEquipamientoUrbano">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="RedDeDistribucionAguaPotable">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-AguaPotable">
                    <xs:attribute fixed="c.8.1" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="RedDeRecoleccionDeAguasResiduales">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-Drenaje">
                    <xs:attribute fixed="c.8.2" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="RedDeDrenajeDeAguasPluvialesEnLaCalle">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-DrenajePluvial">
                    <xs:attribute fixed="c.8.3" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="RedDeDrenajeDeAguasPluvialesEnLaZona">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-DrenajePluvial">
                    <xs:attribute fixed="c.8.4" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="SistemaMixto">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-Drenaje">
                    <xs:attribute fixed="c.8.5" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="SuministroElectrico">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-SuministroElectrico">
                    <xs:attribute fixed="c.8.7" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="AcometidaAlInmueble">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-AcometidaInmueble">
                    <xs:attribute fixed="c.8.8" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="AlumbradoPublico">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-AlumbradoPublico">
                    <xs:attribute fixed="c.8.9" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Vialidades">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-Vialidades">
                    <xs:attribute fixed="c.8.10" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Banquetas">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-Banquetas">
                    <xs:attribute fixed="c.8.11" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Guarniciones">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-Guarniciones">
                    <xs:attribute fixed="c.8.12" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="NivelDeInfraestructuraEnLaZona">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="DecimalPositivo54">
                    <xs:attribute fixed="c.8.13" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="GasNatural">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-GasNatural">
                    <xs:attribute fixed="c.8.14" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="TelefonosSuministro">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-SuministroTelefonico">
                    <xs:attribute fixed="c.8.15" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="AcometidaAlInmuebleTel">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-AcometidaInmueble">
                    <xs:attribute fixed="c.8.16" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="SennalizacionDeVias">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-SenalizacionVias">
                    <xs:attribute fixed="c.8.17" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="NomenclaturaDeCalles">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-NomenclaturaCalles">
                    <xs:attribute fixed="c.8.18" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="DistanciaTranporteUrbano">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="DecimalPositivo">
                    <xs:attribute fixed="c.8.19" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="FrecuenciaTransporteUrbano">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="DecimalPositivo">
                    <xs:attribute fixed="c.8.20" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="DistanciaTransporteSuburbano">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="DecimalPositivo">
                    <xs:attribute fixed="c.8.21" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="FrecuenciaTransporteSuburbano">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="DecimalPositivo">
                    <xs:attribute fixed="c.8.22" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Vigilancia">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-VigilanciaZona">
                    <xs:attribute fixed="c.8.23" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="RecoleccionDeBasura">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="Cat-RecoleccionBasura">
                    <xs:attribute fixed="c.8.24" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Templo">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute fixed="c.8.25" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Mercados">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute fixed="c.8.26" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="PlazasPublicas">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute fixed="c.8.27" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="ParquesYJardines">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute fixed="c.8.28" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Escuelas">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute fixed="c.8.29" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Hospitales">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute fixed="c.8.30" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="Bancos">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute fixed="c.8.31" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="EstacionDeTransporte">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:boolean">
                    <xs:attribute fixed="c.8.32" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="NivelDeEquipamientoUrbano">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:decimal">
                    <xs:attribute fixed="c.8.33" name="id" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="c.8" name="id" type="NonEmptyString" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute fixed="c" name="id" type="xs:string" use="required" />
  </xs:complexType>

   <xs:element name="Avaluo">
      <xs:complexType>
         <xs:choice>
            <xs:element name="Comercial">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="Identificacion" type="Identificacion" />
                     <xs:element name="Antecedentes" type="Antecedentes-AComercial" />
                     <xs:element name="CaracteristicasUrbanas" type="CaracteristicasUrbanas" />
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:complexType>
   </xs:element>
</xs:schema>